@import 'https://fonts.googleapis.com/css?family=Roboto';

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    padding-top: 38px;
    height: 100%;
}

header {
    background: #303F9F;
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-menu {

}

ul.main-menu {
    list-style: none;
}

.main-menu li {
    display: inline-block;
    float: left;
    padding: 10px
}

.main-menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.main-menu a:hover {
    text-decoration: underline;
    color: #ff7bac;
}

#logo {
    margin: 20px;
    float: left;
    width: 200px;
    height: 50px;
    background: url(images/logo.svg) no-repeat center;
    display: block;
}

#search {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search:focus {
    width: 100%;
}

header nav {
    float: right;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

#menu_icon {
    background: url(images/menu-icon.png) no-repeat center;
    display: hidden;
    width: 32px;
    height: 32px;
}

.content {
    flex: 1 0 auto;
}

div#slider {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

div#slider figure img {
    width: 20%;
    height: auto;
    float: left;
}

.relative-section {
    max-width: 2000px;
    margin: 0 auto;
    padding: 6% 2%;
}

.relative-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.relative-grid:after {
    clear: both;
}

.relative-grid:after, .relative-grid:before {
    content: '';
    display: table;
}

.relative-grid li {
    width: 328px;
    height: 328px;
    display: inline-block;
    margin: 20px;
}

.product {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.relative-box {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out,;
}

.relative-box:hover {
    transform: scale(1.05);
}

.info {
    position: absolute;
    width: inherit;
    height: inherit;
}

.info h3 {
    font-family: 'Roboto', cursive;
    font-weight: 400;
    color: black;
    font-size: 42px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height: 1.5;
}

.info p {
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 4px 5px;
    margin: 0 30px;
    font-size: 14px;
    line-height: 2;
}

.price {
    position: absolute;
    bottom: 0;
    left: 0;
}

.actions {
    position: absolute;
    bottom: 0;
    right: 0;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 14px;
    line-height: 1;
}

.title a {
    font-family: 'Roboto', cursive;
    font-size: 20px;
    display: inline;
    float: center;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
    color: #ff7bac;
}

footer {
    background: #303F9F;
    width: 100%;
    height: 100px;
    z-index: 100;
    flex: 0, 0 auto;
}

#footer_container {
    margin: 0 auto;
    padding-top: 2%;
}

.navigation {
    list-style: none;
}

.navigation li a {
    font-family: 'Roboto', cursive;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.navigation li a:hover {
    text-decoration: underline;
    color: #ff7bac;
}

.copyright-text {
    padding-left: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 2%;
    float: left;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.65em;
    color: #C5CAE9;
}

.dropdown-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3F51B5;
}

li.dropdown-ul {
    float: left;
}

li.dropdown-ul a, .dropdown-btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
}

li.dropdown-ul a:hover, .dropdown:hover .dropdown-btn {
    background-color: #f5f5f5;
    color: #3F51B5;
}

li.dropdown {
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #3F51B5;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
}

#form-div {
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color: #3c3c3c;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #FF4081;
    color: #FF4081;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused {
    color: #FF4081;
    border: #FF4081 solid 3px;
}

/* Icons ---------------------------------- */
#name {
    background-image: url("images/name.svg");
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus {
    background-image: url("images/name.svg");
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email {
    background-image: url("images/email.svg");
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus {
    background-image: url("images/email.svg");
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment {
    background-image: url("images/comment.svg");
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color: white;
}

#btn-send {
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
    border: #3F51B5 solid 4px;
    cursor: pointer;
    background-color: #3F51B5;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

@media only screen and (max-width: 640px) {
    header {
        position: absolute;
    }

    footer {
        position: absolute;
    }

    #menu_icon {
        display: inline-block;
    }

    header nav ul, header nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #c5c5c5;
        right: 0;
        top: 76px;
        width: 35%;
        margin: 0;
    }

    header nav:hover ul {
        display: block;
    }

    header nav li {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }

    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}